html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #533738;
  background: #EFE6E4;
  
}

a {
  text-decoration: none;
  color: #533738;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.promo {
  min-height: 715px;
  background: url('../images/bg/promo_bg.png') center center/cover no-repeat;
  padding: 36px 0 168px;
}

.title {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.header__inner {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  padding-left: 0;
}

.header__list li {
  font-size: 16px;
  list-style: none;
}

.header__list li+li {
  margin-left: 26px;
}

.promo__inner {
  width: 534px;
  margin: 152px auto auto 86px;
}

.promo__title {
  font-size: 50px;
  line-height: 62px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
}

.promo__subtitle {
  margin-bottom: 21px;
  width: 443px;
}

.button {
  width: 309px;
  height: 74px;
  background: #CC8B86;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  color: #533738;
}

.about {
  min-height: 914px;
  padding: 65px 0 0;
  position: relative;
  position: relative;
}

.about__inner {
  max-width: 1038px;
  margin: 0 auto;
}

.about__top {
  display: flex;
  margin-top: 40px;
}

.about__image {
  max-width: 445px;
  max-height: 465px;
}

.about__image img {
  width: 100%;
}

.about__text {
  margin-left: 63px;
  line-height: 30px;
  width: 528px;
}

.about__block {
  bottom: 0;
  position: absolute;
  height: 273px;
  width: 100%;
  background: #8D7370;
}

.about__items {
  margin: 0 auto;
  display: flex;
  width: 1038px;
  justify-content: space-between;
}

.about__item {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  text-align: center;
  margin-top: 85px;
  text-transform: uppercase;
}
.about__item span {
  font-weight: 400;
  line-height: 62px;
  font-size: 50px;
}

.projects {
  min-height: 1229px;
  padding: 65px 0;
}

.projects__title {
  text-align: left;
}

.projects__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}

.projects__item {
  max-width: 692px;
  max-height: 451px;
  margin: 15px 0;
  position: relative;
}

.projects__item img:hover {
  background-color: #fff;
}

.projects__item_little {
  max-width: 488px;
  
}

.projects__item img {
  width: 100%;
}

.projects__all {
  text-align: center;
  font-size: 30px;
}

.projects__all a {
  position: relative;
}

.projects__all a:after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 15px;
  background: url('../images/arrow.svg') center center/cover no-repeat;
  position: absolute;
  top: 14px;
  right: -70px;
}

.projects__item_little .projects__item_hovered {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100, 72, 69, 0.8);
  top: 0;
  display: none;
  padding: 86px 35px 122px;
}

.projects__item_little:hover .projects__item_hovered {
  display: block;
}


.hover__title {
  font-weight: 500;
  width: 270px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.hover__subtitle {
  line-height: 30px;
  margin-top: 15px;
  color: #fff;
}

.team {
  padding: 50px 0 80px;
  background: #E2C4BA;
}

.team__items {
  display: flex;
  justify-content: space-between;
  
  width: 1036px;
  margin: 0 auto;
  margin-top: 40px;
}

.team__item {
  width: 320px;
}

.team__item img {
  width: 100%;
}
.team__info {
  margin-top: 10px;
  line-height: 30px;
}

.team__work {
  margin-top: 35px;
}

.team__work-items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.team__work-item {
  width: 285px;
}
.team__work-round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #8D7370;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
}
.team__work-info {
  margin-top: 19px;
  line-height: 30px;
  text-align: center;
}
.feedback {
  padding: 65px 0;
}

.feedback__inner {
  width: 1036px;
  padding: 40px 101px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.feedback__img {
  width: 407px;
  height: 272px;
}

.feedback__img img {
  width: 100%;
}

.feedback__images {
  height: 568px;
}
.feedback__img:nth-child(2) {
  margin-top: 24px;
}

.feedback__text {
  width: 407px;
  min-height: 384px;
  line-height: 30px;
  margin-right: 20px;
  margin-top: 91px;
}

.feedback__inner::before {
  content: '';
  display: block;
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #CC8B86;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  background-image: url('../images/arrow_white.svg') ;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.feedback__inner::after {
  content: '';
  display: block;
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #CC8B86;
  top: 50%;
  right: 3px;
  background-image: url('../images/arrow_white.svg') ;
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateY(-50%) scale(-1,1);
  cursor: pointer;
}

.request {
  padding: 0 101px 0 181px;
  background: #8D7370;
}

.request__inner {
  display: flex;
  justify-content: center;
}
.request__form-inner {
  width: 508px;
  padding-top: 50px;
  padding-right: 20px;
}
.request .title {
  color: #fff;
  text-align: left;
}

.request__info {
  margin-top: 24px;
  color: rgba(255,255,255, .6);
  margin-bottom: 9px;
}

.request__form input {
  width: 100%;
  background: #8D7370;
  color: #fff;
  border:none;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  line-height: 30px;
  outline: none;
  margin-top: 35px;
}

.request__form input::placeholder {
  color: #fff;
}

.request__form .button {
  margin-top: 31px;
}

.footer {

  padding: 37px 100px;
}
.footer__inner {
  position: relative;
}
.locate {
  display: inline-block;
  margin-left: 42px;
}
.buisnessman {
  position: absolute;
  right: 0;
  text-align: right;
}